@model ICollection<GallerySM.Aplicacao.Models.Dominio.ContextosDelimitados.Games.Quiz.AssuntoModel>

@{
    ViewBag.Title = "Assuntos";
}

<h3>Assuntos</h3>
<ul>
    @foreach (var assunto in Model)
    {
        <li>@Html.ActionLink(assunto.Name, "/List/" + assunto.AssuntoId)</li>
    }
</ul>
