<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="/Assets/common/foundation/css/foundation.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="row">
        @RenderBody()
    </div>
</body>
</html>
